@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply m-0 p-0 w-full min-h-screen bg-white text-gray-900;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

#root {
	@apply w-full min-h-screen;
}
